
window {
    margin: 0px;
    border: 5px solid #090d0c;
    background-color: #bec1ae;
    border-radius: 5px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #bec1ae;
    font-weight: bold;
    background-color: #090d0c;
    outline: none;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 2px;
}
#input:focus {
    border: 0px solid #090d0c;
    margin-bottom: 0px;
}

#inner-box {
    margin: 4px;
    border: 10px solid #090d0c;
    color: #bec1ae;
    font-weight: bold;
    background-color: #090d0c;
    border-radius: 5px;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 5px;
    background-color: #090d0c;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    /* background: rgb(255,255,255); */
}

#img:selected {
    background-color: #54562D;
    border-radius: 5px;
}

#text:selected {
    color: #bec1ae;
    margin: 0px 0px;
    border: none;
    border-radius: 5px;
    background-color: #54562D;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 5px;
    background-color: #54562D;
}
